.blog_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blog_content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
  overflow: hidden;
}
